
<head>
<title>Detete</title>
</head>

<section>
<H1 align="center"></H1>


<form action="/delete" method="post" enctype="application/x-www-form-urlencoded">

<input type="hidden" name="_method" value="delete"  />

Enter the restaurant ID to specify the restaurant you want to delete<br/>

Enter ID :<br/>
<input type="text" name="restaurant_id"/> <br/>

<input type="submit" value="submit">


</form>


</section>
</body>
</html>
