
<head>
<title>Update</title>
</head>

<section>
<H1 align="center"></H1>


<form action="/update" method="post" enctype="application/x-www-form-urlencoded">

<input type="hidden" name="_method" value="put"  />
Enter the restaurant id to specify the restaurant you want to update<br/>
Restaurant ID:<input type="text" name="restaurant_id"/> <br/><br/>

	Update Name:<input type="text" name="name"/> <br/>
	Update Cuisine:<input type="text" name="cuisine"/> <br/>
	Building: <input type="text" name="building"><br>
	Street: <input type="text" name="street"><br>
	Zipcode: <input type="text" name="zipcode"><br>
	Longitude: <input type="text" name="lon"><br>
	Latitude: <input type="text" name="lat"><br>
	Borough: <input type="text" name="borough"><br>

<input type="submit" value="submit">


</form>


</section>
</body>
</html>
